body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.time-text {
  font-size: clamp(20.833vw, 10vw, 41.667vw);
  font-weight: bold;
  text-align: center;
  transition: all 0.5s ease-in-out;
  word-break: break-word;
  max-width: 100vw;
}

.end-message {
  font-size: clamp(2.083vw, 6vw, 6.25vw);
  font-weight: bold;
  color: inherit;
  text-align: center;
  max-width: 90vw;
  text-transform: uppercase;
  animation: blink 5s infinite;
  transition: all 0.5s ease-in-out;
  display: none;
  opacity: 0;
}

.rearranged .time-text {
  order: 2;
  font-size: min(12vw, 80px);
}

.rearranged .end-message {
  display: block;
  order: 1;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
